<%= form_for(@intertext) do |f| %>
<%= error_report(@intertext) %>
<%#= error_report(@horace) %>
<%#= error_report(@homer) %>

  <table>
    <tr>
      <th><h3>Hor&aacute;cio</h3></th>
      <th><h3>Homero</h3></th>
    </tr>
    <tr>
      <td>    
<%= fields_for @horace do |h1| %>
<%= render :partial => "horaces/fields", :locals => { :f => h1 } %>
<% end %>
      </td>
      <td>
<%= fields_for @homer do |h2| %>
<%= render :partial => "homers/fields", :locals => { :f => h2 } %>
<% end %>
      </td>
    </tr>
  </table>

  <div class="field">
    <%= f.label :fonte %><br />
    <%= f.text_area :source, :rows => 2 %>
  </div>
  <div class="field">
    <%= f.label :obs %><br />
    <%= f.text_area :obs, :rows => 2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
