<h1>Lista de intertextos</h1>

<table id="geral">
  <tr>
    <th>Hor&aacute;cio</th>
    <th>Homero</th>
    <th>Fonte</th>
    <th>Obs.</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @intertexts.each do |intertext| %>
  <tr>
    <td>
      <%= intertext.horace.to_str if intertext.horace %>
    </td>
    <td><%= intertext.homer.to_str if intertext.homer %></td>
    <td><%= intertext.source %></td>
    <td><%= intertext.obs %></td>
    <!-- td><%= link_to 'Show', intertext %></td-->
    <td><%= link_to "Link", "http://horatius.ru/index.xps?2.1.#{intertext.horace.to_ru}", :target => "_blank" %></td>
    <td><%= link_to 'Edit', edit_intertext_path(intertext) %></td>
    <td><%= link_to 'Destroy', intertext, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Intertexto', new_intertext_path %>
