<h1>Lista de intertextos</h1>

<table id="geral">
  <tr>
    <th>Hor&aacute;cio</th>
    <th></th>
    <th></th>
    <th>Homero</th>
    <!--th></th-->
    <th></th>    
    <th>Fonte</th>
    <th>Obs.</th>
    <th></th>
    <th></th>
  </tr>

<% @intertexts.each do |intertext| %>
  <tr>
    <td class="no_right_line">
      <p><%= intertext.horace.to_str %>
        <%= tag("br") + content_tag(:span, intertext.horace.obs, :class => "small") unless intertext.horace.obs.empty? %>
      </p>
    </td>    
    <td class="no_left_line"><%= link_to "[+]", new_horace_homer_path(intertext.horace) %></td>
    <td><%= link_to ">>", "http://horatius.ru/index.xps?2.1.#{intertext.horace.to_ru}", :target => "_blank" %></td>
    <td class="no_right_line">
      <p><%= intertext.homer.to_str %>
        <%= tag("br") + content_tag(:span, intertext.homer.obs, :class => "small") unless intertext.homer.obs.empty? %>
      </p></td>
    <!-- td class="no_left_line"><%= link_to "[+]", new_homer_horace_path(intertext.homer) %></td-->
    <td><%= link_to ">>", "http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.01.#{intertext.homer.perseus_book}%3Abook%3D#{intertext.homer.book}%3Acard%3D#{intertext.homer.to_line}", :target => "_blank" %></td>
    <td><%= intertext.source %></td>
    <td><%= intertext.obs %></td>
    <!-- td><%= link_to 'Show', intertext %></td-->
    <td><%= link_to 'Edit', edit_intertext_path(intertext) %></td>
    <td><%= link_to 'Destroy', intertext, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Intertexto', new_intertext_path %>
