<p id="notice"><%= notice %></p>

<p>
  <b>Source:</b>
  <%= @intertext.source %>
</p>

<p>
  <b>Obs:</b>
  <%= @intertext.obs %>
</p>


<%= link_to 'Edit', edit_intertext_path(@intertext) %> |
<%= link_to 'Back', intertexts_path %>
