<h1>Lista das Odes</h1>

<table>
  <tr>
    <th>Livro</th>
    <th>Ode</th>
    <th>Verso(s)</th>
    <th>Palavras</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @horaces.each do |horace| %>
  <tr>
    <td><%= horace.book %></td>
    <td><%= horace.ode %></td>
    <td><%= horace.line %></td>
    <td><%= horace.words %></td>
    <td>+</td>
    <td><%= link_to 'Show', horace %></td>
    <td><%= link_to 'Edit', edit_horace_path(horace) %></td>
    <td><%= link_to 'Destroy', horace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Horace', new_horace_path %>
